*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #222;
}
.card{
  width: 40%;
  min-width: 500px;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.timer{
  width: 100%;
  max-width: 600px;
  padding: 45px 0px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(62,62,67,1) 43%, rgba(158,167,169,1) 100%);
  text-align: center;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
  font-size: 100px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mini{
  display: flex;
  justify-content: space-around;
}
.mini button{
  margin: 5px;
  border: 0;
  outline: 0;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.kol{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}